/*Styles for A-Level spaces arenda page*/
@import "variables";

.page-template-arenda {
  footer {
    padding-top: 235px;

    @media (max-width: 768px) {
      padding-top: 135px;
    }
  }

  .first-screen {
    background-image: url("../images/arendaBg.png");
    height: calc(100vh + 140px);

    @media (max-width: 768px) {
      height: auto;
      padding: 50px 0;
    }

    .container {
      height: 100%;
      padding: 150px 15px 140px 15px;

      .content {

      }

      h1 {
        margin-top: 0;

        &:before {
          top: unset;
          bottom: -40px;
        }
      }

      .socials {
        display: flex;
        padding: 0;
        margin: 0;

        list-style: none;

        position: absolute;
        bottom: 90px;
        left: 0;

        @media (max-width: 768px) {
          bottom: -40px;
        }

        @media (max-width: 1366px) and (max-height: 801px) {
          bottom: 5px;
        }


        li {
          //margin: 0 7.5px;
          padding: 0 7.5px;
          border-right: 1px solid $text-gray;

          &:first-child {
            margin-left: 0;
            padding-left: 0;
          }

          &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: none;
          }
        }

        a {
          font-size: 14px;
          color: $text-gray;
          line-height: 1.1;
          text-decoration: none;

          &:hover, &:focus {
            color: $text-orange;
          }
        }
      }

    }
  }
}

.second-screen, .info-screen {
  background-image: url("../images/whoWe.png");
  background-size: cover;
  background-position: top center;

  .container {
    padding: 45px 15px 0 15px;

    flex-wrap: wrap;

    .left {
      video {
        width: 100%;
        height: auto;

        min-height: 450px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .center {
      padding-top: 90px;
      width: 100%;
      display: flex;
      flex-direction: column;

      @media (max-width: 992px) {
        padding-top: 0;
      }

      .icon-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 15px;

        .icon-item {
          width: 33%;

          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 35px;

          @media (max-width: 768px) {
            width: 50%;
          }

          img{
            max-width: 190px;
            height: auto;
          }

        }
      }
    }
  }
}

.third-screen {
  padding-top: 45px;
  background: none;


  .container {
    flex-direction: column;
    position: relative;

    &:before {
      position: absolute;
      top: 160px;
      right: -185px;
      content: url("../images/rectangle.png");
    }

    h2 {
      &:before {
        left: unset;
        right: -60px;
      }
    }

    .benefits-list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .single-benefit {
        width: calc(33% - 17px);
        margin: 15px;
        display: flex;
        flex-direction: column;

        @media (max-width: 992px) {
          width: calc(50% - 15px);
        }

        @media (max-width: 568px) {
          width: 100%;
          margin: 15px 0 !important;
        }

        img {
          width: 100%;
          height: auto;
        }

        &:first-child {
          margin-left: 0;
        }

        &:nth-child(2n) {
          @media (max-width: 992px) {
            margin-right: 0;
          }
        }

        &:nth-child(3n) {
          margin-right: 0;
          @media (max-width: 992px) {
            margin-right: 15px;
            margin-left: 0;
          }
        }

        &:nth-child(4n) {
          margin-left: 0;
        }

        hr {

          border: none;
          border-bottom: 2px solid $text-orange;

          width: 263px;
          margin: 25px 0 20px 0;
        }

        p {
          font-size: 12px;
          color: rgba(207, 220, 234, 0.4);
          line-height: 1.5;
          font-weight: lighter;
          margin: 0;
        }

        h4 {
          margin-top: 35px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.fourth-screen {
  .container {
    flex-direction: column;

    h2 {
      position: relative;
      width: fit-content;

      &:before {
        content: url("../images/dots.png");
        position: absolute;
        top: -35px;
        left: 70px;

      }
    }

    .price-list {
      display: flex;
      flex-wrap: wrap;

      width: 100%;

      .single-price {
        width: calc(33% - 17px);
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid $text-white;
        padding: 50px 30px;
        background-color: rgb(10, 10, 10);


        @media (max-width: 992px) {
          width: calc(50% - 15px);
        }

        @media (max-width: 568px) {
          width: 100%;
          margin: 15px 0 !important;
        }

        &:first-child {
          margin-left: 0;
        }

        &:nth-child(2n) {
          @media (max-width: 992px) {
            margin-right: 0;
          }
        }

        &:nth-child(3n) {
          margin-right: 0;
          @media (max-width: 992px) {
            margin-right: 15px;
            margin-left: 0;
          }
        }

        &:nth-child(4n) {
          margin-left: 0;
        }

        .price {
          font-size: 82px;
          font-family: $font;
          color: rgb(4, 186, 214);
          text-align: center;
        }

        h4 {
          font-size: 24px;
          color: $text-white;
          font-weight: bold;
          text-transform: uppercase;
          line-height: 1.417;
          text-align: center;
          margin: 0;
        }

        p {

          color: $text-white;
        }

        hr {
          border: none;
          border-bottom: 1px dashed $border-color;
          margin: 35px 0;
          width: 100%;
        }

        .button {
          height: 60px;
        }

        .dop {
          font-size: 16px;
          color: $text-white;
          text-transform: uppercase;
          line-height: 2.125;
          text-align: center;
          margin-bottom: 35px;
        }
      }
    }
  }
}

.fifth-screen {
  margin-top: 0;
  background: none;

  .container {
    padding: 90px 15px 0 15px;

    .right {
      padding-top: 20px;

      p {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }
}

.seven-screen {
  padding-top: 40px;
  padding-bottom: 60px;

  .container {
    flex-direction: column;

    h2 {
      position: relative;
      width: fit-content;

      &:before {
        content: url("../images/dots.png");
        position: absolute;
        bottom: -30px;
        right: -50px;

      }
    }


    .partners-slider {
      width: calc(100% - 40px);
      margin: 0 auto;

      .single-partner {
        padding: 0 11px;

        .slide-content {
          width: 100%;
          height: 180px;

          display: flex;
          align-items: center;
          justify-content: center;
          background: $text-white;
        }
      }

      .slick-prev {
        &:before {
          content: url("../images/sliderNavPrev.png");
        }
      }

      .slick-next {
        &:before {
          content: url("../images/sliderNavNext.png");
        }
      }
    }
  }
}


.single-post {
  footer {
    padding-top: 235px;
    @media (max-width: 992px) {
      padding-top: 135px;
    }
  }

  .first-screen {
    background-image: url("../images/banner-first-single.png");

    .container {
      h1, p, .sub-title {
        width: 62%;

        @media (max-width: 768px) {
          width: 100%;
        }

      }

      .cost {
        font-size: 18px;
        color: $text-white;
        font-weight: lighter;
        line-height: 1;
        margin-bottom: 10px;

        &.online {
          margin-bottom: 35px;
        }

        span {
          font-size: 24px;
          color: $text-orange;
          line-height: 1;
        }
      }

      .content {
        position: relative;

        h1, span, p {
          z-index: 1;
        }

        //h1{
        //  margin: 20px 0;
        //}

        .sub-title, p{
          margin-bottom: 20px;
        }

        .socials {
          @media (max-width: 768px) {
            bottom: -40px;
          }
        }

        img {
          position: absolute;
          right: -95px;
          z-index: 0;

          width: 530px;
          height: auto;



          @media (max-width: 768px) {
            position: relative;
            right: 0;
            margin-top: 30px;
            width: 100%;
            height: auto;

          }

        }
      }
    }
  }

  .second-screen {
    margin-top: 0;
    padding-bottom: 0;

    .container {
      flex-direction: column;
    }
  }

  .third-screen {
    hr {
      border: none;
      border-bottom: 1px solid $border-color;
      margin-top: 50px;
      margin-bottom: 25px;
      width: 100%;
    }

    flex-direction: column;
    align-items: center;

    background-image: url("../images/teacherBg.png");
    background-size: cover;
    background-position: top 30px center;

    .container {
      flex-direction: column;
      position: relative;

      &:before {
        position: absolute;
        top: 160px;
        right: -185px;
        content: url("../images/rectangle.png");
      }

      h2 {
        &:before {
          right: unset;
          left: -100px;
        }
      }

      .benefits-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .single-benefit {
          width: calc(33% - 17px);
          margin: 15px;
          display: flex;
          flex-direction: column;

          @media (max-width: 992px) {
            width: calc(50% - 15px);
          }

          @media (max-width: 568px) {
            width: 100%;
            margin: 15px 0 !important;
          }

          img {
            width: 100%;
            height: auto;
          }

          &:first-child {
            margin-left: 0;
          }

          &:nth-child(2n) {
            @media (max-width: 992px) {
              margin-right: 0;
            }
          }

          &:nth-child(3n) {
            margin-right: 0;
            @media (max-width: 992px) {
              margin-right: 15px;
              margin-left: 0;
            }
          }

          &:nth-child(4n) {
            margin-left: 0;
          }

          hr {

            border: none;
            border-bottom: 2px solid $text-orange;

            width: 263px;
            margin: 25px 0 20px 0;
          }

          p {
            font-size: 12px;
            color: rgba(207, 220, 234, 0.4);
            line-height: 1.5;
            font-weight: lighter;
            margin: 0;
          }

          h4 {
            margin-top: 35px;
            margin-bottom: 0;
          }
        }
      }
    }

    .route {
      align-items: center;

      hr {
        border: none;
        border-bottom: 1px solid $border-color;
        margin-top: 100px;
        margin-bottom: 120px;
        width: 100%;

        @media (max-width: 768px) {
          margin-top: 50px;
          margin-bottom: 60px;
        }
      }

      h2 {
        &:before {
          left: unset;
          right: 50%;
          transform: translate(50%);
        }
      }

      .routes-list {
        width: 100%;

        display: flex;
        flex-direction: column;

        .route-item {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 15px;

          .left, .right {
            width: calc(50% - 15px);
            border: 1px solid $border-color;
            padding: 50px;
            @media (max-width: 768px) {
              width: 100%;
              padding: 25px;

              justify-content: center !important;
            }

            span {
              font-size: 24px;
              color: $text-white;
              font-weight: bold;
              text-transform: uppercase;
              line-height: 1.167;

              @media (max-width: 768px) {
                font-size: 20px;
              }
            }
          }

          .left {
            display: flex;
            align-items: center;
            justify-content: flex-end;

          }

          .right {
            display: flex;
            align-items: center;
            justify-content: flex-start;
          }
        }
      }
    }
  }

}

.blog, .archive {
  main {
    padding-top: 200px;
  }
}