/*Global styles for A-Level space*/
@import "variables";

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  background-color: $bg-black;
}

html {
  scroll-behavior: smooth;

  @media (max-width: 568px) {
    overflow-x: hidden;
  }
}

body {
  overflow-x: hidden;
}

div, section, header, ul, li, footer, span, input, form, textarea, ol, a, button {
  box-sizing: border-box;
}


.container {
  display: flex;
  width: 1170px;
  padding: 0 15px;

  @media (max-width: 1200px) {
    width: 990px;
  }

  @media (max-width: 992px) {
    width: 790px;
    padding: 0 30px;
  }

  @media (max-width: 768px) {
    width: 590px;
    padding: 0 30px;
  }

  @media (max-width: 568px) {
    width: 100%;
    padding: 0 30px;
  }
}

h1, h2, h3, h4, h5, h6, p, span, ul, li, input, textarea, label, ::placeholder, a, button {
  font-family: $font;
}

h1 {
  font-size: 60px;
  color: $text-white;
  line-height: 0.833;

  @media (max-width: 768px) {
    font-size: 50px;
  }

  span {
    color: $text-blue;
  }
}

h2 {
  font-size: 42px;
  color: $text-white;
  text-transform: uppercase;
  line-height: 1.143;

  margin: 45px 0;

  @media (max-width: 768px) {
    font-size: 32px;
    margin: 25px 0;
  }

  @media (max-width: 568px) {
    font-size: 24px;
    margin: 22px 0;
  }

  span {
    color: $text-blue;
  }
}

h4 {
  font-size: 24px;
  color: $text-white;
  font-weight: bold;
  line-height: 1.417;
  margin-top: 0;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    font-size: 20px;
  }

  @media (max-width: 568px) {
    font-size: 18px;
  }
}

h5 {
  font-size: 42px;
  color: $text-white;
  line-height: 1.143;
  text-align: center;
  font-weight: bold;
  @media (max-width: 768px) {
    font-size: 32px;
  }

  @media (max-width: 568px) {
    font-size: 26px;
  }

  span {
    font-weight: normal;
    color: $text-blue;
  }
}

h6 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.702);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  margin: 30px 0;
}


p {
  font-size: 16px;
  color: $text-gray;
  line-height: 1.75;
  margin-top: 5px;
  margin-bottom: 0;

  @media (max-width: 568px) {
    font-size: 14px;
  }
}


.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .site-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    main {
      width: 100%;

    }
  }
}

.hr-left {
  position: fixed;
  height: 0;
  top: 150px;
  left: 90px;
  margin: 0;
  border: none;
  border-top: 1px solid $border-color;

  width: calc(100vh - 150px);
  padding: 0px;

  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;

  transform: rotate(90deg);

  z-index: 999;

  @media (max-width: 1366px) {
    left: 45px;
  }
  @media (max-width: 992px) {
    left: 15px;
    width: calc(100vh - 90px);
    top: 90px;
  }

  legend {
    font-family: $font;
    color: $text-blue;

    font-size: 12px;
    text-transform: uppercase;

    transform: rotate(180deg);

    margin-left: 290px;
    padding: 0 5px;
  }
}

.hr-right {
  position: fixed;
  height: calc(100vh - 150px);
  top: 150px;
  right: 90px;
  margin: 0;
  border: none;
  border-right: 1px solid $border-color;

  z-index: 999;

  @media (max-width: 1366px) {
    right: 45px;
  }
  @media (max-width: 992px) {
    right: 15px;
    height: calc(100vh - 90px);
    top: 90px;
  }
}

.container {
  display: flex;
}

.button, input[type='submit'] {
  font-size: 15px;
  color: $text-white;
  text-transform: uppercase;
  line-height: 1.6;


  border-radius: 6px;
  background-color: $text-orange;
  width: 228px;
  height: 69px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
}

.line {
  font-size: 15px;
  color: $text-orange;
  text-transform: uppercase;
  line-height: 1;

  display: flex;
  align-items: center;

  margin-left: -20px;

  &:before {
    content: '';
    background-color: $text-orange;

    width: 68px;
    height: 2px;

    margin-right: 20px;
  }

  span {
    color: $text-blue;
    margin-left: 5px;
  }
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*Header*/

header {
  height: 150px;
  width: 100%;
  border-bottom: 1px solid $border-color;

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;

  @media (max-width: 992px) {
    height: 90px;
  }

  .container {
    height: 100%;
    align-items: center;
    justify-content: space-between;

    a.logo {
      img {
        height: 100px;

        @media (max-width: 992px) {
          height: 70px;
        }
      }
    }

    nav {
      height: 100%;

      & > div {
        height: 100%;
      }

      ul {
        height: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          height: 100%;
          margin-left: 45px;

          a {
            height: calc(100% - 3px);

            font-size: 15px;
            color: $text-gray;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.6;
            text-align: right;

            text-decoration: none;

            display: flex;
            align-items: center;

            position: relative;
            bottom: -1.5px;

            &:hover {
              border-bottom: 3px solid $text-orange;
              color: $text-white;
            }
          }
        }

        .active {
          a {
            border-bottom: 3px solid $text-orange;
            color: $text-white;
          }
        }
      }
    }
  }
}

#site-navigation {
  @media (max-width: 768px) {
    display: none;
  }
}

.scrolled {
  background-color: rgba(0, 0, 0, 0.6);
}

.mob-menu-btn {
  cursor: pointer;
  display: none;
  @media (max-width: 768px) {
    display: block;
  }

  i {
    font-size: 30px;
    color: $text-white;

    &:hover {
      color: $text-orange;
    }
  }
}

.menu-modal {
  z-index: 999999999;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);

  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;

  display: none;

  .modal-content {
    width: 400px;
    height: auto;
    padding: 40px 30px;

    position: relative;
    background-color: $bg-black;
    border: 2px solid #fff;
    padding: 50px 30px;

    //display: flex;
    //flex-direction: column;
    //align-items: center;

    h3 {
      font-size: 30px;
      color: $text-orange;

      span {
        color: $text-blue;
      }
    }

    .menu-modal-close {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;

      i {
        font-size: 24px;
        color: $text-white;

      }

      &:hover {
        i {
          color: $text-orange;

        }
      }
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        margin-bottom: 20px;
      }
    }

    a {
      font-size: 15px;
      color: $text-gray;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.6;
      text-align: right;

      text-decoration: none;


      &:hover {
        border-bottom: 3px solid $text-orange;
        color: $text-white;
      }
    }
  }
}

.menu-modal-visible {
  display: flex;
}

/*Footer*/
footer {
  display: flex;
  justify-content: center;
  padding-top: 70px;

  @media (max-width: 992px) {
    padding-top: 50px;
  }

  .container {
    flex-direction: column;
    align-items: center;

    h5 {
      margin: 0;
      position: relative;

      &:before {
        content: url("../images/dotsFooter.png");
        position: absolute;
        bottom: -65px;
        left: -50px;
        @media (max-width: 768px) {
          left: -90px;
          transform: scale(0.8);
        }
      }
    }

    .contact {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;

      li {
        font-size: 16px;
        color: $text-white;
        margin-bottom: 20px;

        a {
          font-size: 20px;
          color: $text-white;
          font-weight: bold;
          margin-left: 20px;
          text-decoration: none;

          &:hover {
            color: $text-orange;
          }
        }
      }

      .mail {
        a {
          font-size: 16px;
          color: $text-blue;
        }
      }
    }

    .socials {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 10px 0 0 0;

      li {
        padding: 0 5px;
      }

      .instagram {
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
      }

      .telegram {
        background: #0088cc;
      }

      .facebook {
        background: #3b5998;
      }


      a {
        width: 29px;
        height: 29px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        i {
          font-size: 16px;
          color: white;
        }
      }
    }

    .logo {
      padding: 105px 0;

      @media (max-width: 992px) {
        padding: 70px 0;
      }

      img {
        height: 100px;
        width: auto;

        @media (max-width: 992px) {
          height: 70px;
        }
      }
    }
  }

  hr {
    border: none;
    border-bottom: 2px solid $text-orange;
    width: 85px;
    margin: 40px 0;
  }
}


/*Slider*/

.slick-next {


  &:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f061';

    font-size: 20px;
  }
}

.slick-prev {

  &:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f060';

    font-size: 20px;
  }
}


/*Blog*/

.single-event {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  margin-bottom: 45px;
  flex-wrap: wrap;

  .event-image {
    width: 50%;
    padding-right: 45px;

    @media (max-width: 992px) {
      width: 100%;
      padding-right: 0;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .event-content {
    position: relative;
    width: 50%;
    @media (max-width: 992px) {
      margin-top: 20px;
      width: 100%;
    }


    .cost-place {
      //position: absolute;
      top: 0;
      right: 0;

      display: flex;
      flex-direction: column;

      .cost {
        font-size: 14px;
        color: $text-white;
        font-weight: lighter;
        line-height: 1;
        //margin-bottom: 5px;

        span {
          font-size: 16px;
          color: $text-orange;
          line-height: 1;
        }
      }
    }
  }

  .calendar, .oclock {
    display: flex;
    align-items: center;

    font-size: 14px;
    color: rgb(86, 109, 134);
    line-height: 2.143;
  }

  .date-info {
    display: flex;
    margin-bottom: 35px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 568px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .right{
    @media (max-width: 568px) {
      margin-top: 10px;
    }
  }
  .left{
    display: flex;
    align-items: center;
  }
  p {
    margin-top: 0;
    margin-bottom: 35px;

    font-size: 16px;
    color: rgba(207, 220, 234, 0.902);
    line-height: 1.75;
  }

  .calendar {
    margin-right: 45px;

    @media (max-width: 568px) {
      margin-right: 25px;
    }

    &:before {
      content: url("../images/calendar.png");
      margin-right: 10px;
      margin-bottom: -10px;
    }
  }

  .oclock {
    margin-right: 45px;
    @media (max-width: 568px) {
      margin-right: 25px;
    }

    &:before {
      content: url("../images/oclock.png");
      margin-right: 10px;
      margin-bottom: -10px;
    }
  }

  .detail {
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;


    position: relative;

    &:before {
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $text-blue;

      content: '';
    }

    &:after {
      position: absolute;
      content: url("../images/postArr.png");
      right: -10px;
      transition: all 0.5s;
    }

    &:hover {
      &:after {
        right: -20px;
      }
    }
  }


  &:nth-child(2n) {
    .detail {
      &:before {
        background-color: $text-orange;
      }
    }
  }
}


/*Screens*/
.form-screen {
  background: url("../images/formBg.png") no-repeat center;
  background-size: cover;
  padding: 110px 0 135px 0;

  .container {
    flex-direction: column;

    h2 {
      width: fit-content;
      position: relative;

      &:before {
        content: url("../images/dots.png");
        position: absolute;
        bottom: -30px;
        left: -105px;

      }
    }
  }
}

.form-row {
  display: flex;
  margin-bottom: 22px;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    justify-content: space-between;
  }

  @media (max-width: 568px) {
    margin-bottom: 0;
  }

  span {
    margin-right: 22px;

  }


}

form {
  .button {
    width: 370px;
    height: 65px;
    border: none;
    outline: none;
    @media(max-width: 768px) {
      width: 49%;
      margin-right: 0;
    }
    @media(max-width: 668px) {
      width: 100%;
      margin-right: 0;
    }
  }
}

input, select {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 370px;
  height: 65px;

  border-width: 1px;
  border-color: $border-color;
  border-style: solid;
  border-radius: 3px;

  padding: 0 20px;

  font-size: 16px;
  color: $text-white;
  margin-right: 22px;

  outline: none;

  &::placeholder {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    //text-transform: uppercase;
    line-height: 3.75;

  }

  &:active, &:focus, &:visited {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: $text-blue;
    outline: none;

  }

  &:-webkit-autofill, &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    background-color: rgba(0, 0, 0, 0.4) !important;
    outline: none;

  }

  @media(max-width: 768px) {
    width: 49%;
    margin-right: 0;
  }

  @media (max-width: 568px) {
    width: 100%;
    margin-bottom: 22px;
  }
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;

  color: $text-orange;
}

.form-group label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid $border-color;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  color: white;
  font-size: 15px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid $text-white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  color: white;
}

.error {
  border-color: red;
}


input[type='submit'] {
  width: 370px;
  height: 65px;
}

.success-modal {
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);

  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;

  display: none;

  .modal-content {
    width: 400px;
    height: auto;
    padding: 40px 30px;

    position: relative;
    background-color: $bg-black;
    border: 2px solid #fff;
    padding: 50px 30px;

    //display: flex;
    //flex-direction: column;
    //align-items: center;

    h3 {
      font-size: 30px;
      color: $text-orange;

      span {
        color: $text-blue;
      }
    }

    .modal-close {
      cursor: pointer;
      position: absolute;
      top: 20px;
      right: 20px;

      i {
        font-size: 24px;
        color: $text-white;

      }

      &:hover {
        i {
          color: $text-orange;

        }
      }
    }
  }
}

.success-modal-visible {
  display: flex;
}

.hidden{
  display: none;
}