/*Styles for A-Level spaces home page*/
@import "variables";


/*First screen*/

.first-screen {
  height: calc(100vh + 90px);
  background-image: url("../images/bannerFirst-min.png");
  background-size: cover;
  background-position: top center;

  justify-content: center;


  @media (max-width: 568px) {
    height: auto;
    padding: 50px 0;
  }
  .container {
    height: 100%;
    padding: 150px 15px 90px 15px;

    @media (max-width: 992px) {
      padding: 150px 30px 90px 30px;
    }
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      position: relative;


      h1 {
        margin: 40px 0 50px 0;
        position: relative;

        @media (max-width: 768px){
          margin: 20px 0 30px 0;
        }

        @media (max-width: 568px) {
          font-size: 40px;

        }
        &:before {
          content: url("../images/dots.png");
          position: absolute;
          top: -5px;
          left: -100px;
        }

        span {
          &:first-child {
            font-size: 72px;
            color: $text-white;

            @media (max-width: 768px){
              font-size: 60px;
            }

            @media (max-width: 568px) {
              font-size: 50px;

            }
          }
        }
      }

      .sub-title {
        font-size: 22px;
        color: $text-white;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 40px;
        @media (max-width: 768px){
          margin-bottom: 20px;
        }
        span {
          color: $text-orange;
        }
      }

      p {
        font-size: 18px;
        color: $text-gray;
        line-height: 1.4;
        margin-top: 0;
        margin-bottom: 40px;
        max-width: 730px;
      }

      .socials {
        display: flex;
        padding: 0;
        margin: 0;

        list-style: none;

        position: absolute;
        bottom: 90px;
        left: 0;

        @media (max-width: 768px) {
          bottom: -40px;
        }

        @media (max-width: 1441px) and (max-height: 901px){
          bottom: 0px;
        }

        @media (max-width: 1366px) and (max-height: 801px){
          bottom: 5px;
        }
        li {
          //margin: 0 7.5px;
          padding: 0 7.5px;
          border-right: 1px solid $text-gray;

          &:first-child {
            margin-left: 0;
            padding-left: 0;
          }

          &:last-child {
            margin-right: 0;
            padding-right: 0;
            border-right: none;
          }
        }

        a {
          font-size: 14px;
          color: $text-gray;
          line-height: 1.1;
          text-decoration: none;

          &:hover, &:focus {
            color: $text-orange;
          }
        }
      }
    }
  }
}


/*Second screen*/

.second-screen, .info-screen {
  margin-top: -90px;
  padding-bottom: 120px;

  .container {
    justify-content: space-between;
    flex-wrap: wrap;
    .left, .right {
      width: 50%;

      @media (max-width: 992px) {
        width: 100%;
      }
    }

    .left {
      padding-right: 45px;
      position: relative;
      @media (max-width: 992px) {
        padding: 0;
        order: 2;

      }
      &:before{
        content: url("../images/aboutUsTriangl.png");
        position: absolute;
        left: -65px;
        top: 145px;
      }
      .about-us-slider {
        width: 100%;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;

          width: 100px;
          height: 90px;

          background-color: $bg-black;
          z-index: 1;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;

          width: 125px;
          height: 40px;

          background-color: $bg-black;

        }

        .slick-next {
          top: unset;
          bottom: 20px;
          left: 50px;

          color: $text-gray;

          border: none;
          background: none;
          z-index: 2;

          &:before {
            color: $text-gray;
          }

          &:hover {
            color: $text-orange;

            &:before {
              color: $text-orange;
            }
          }
        }

        .slick-prev {
          top: unset;
          bottom: 20px;
          left: 20px;

          color: $text-gray;

          border: none;
          background: none;
          z-index: 2;


          &:before {
            color: $text-gray;
          }

          &:hover {
            color: $text-orange;

            &:before {
              color: $text-orange;
            }
          }
        }
      }
    }

    .right {
      padding-top: 90px;
      padding-left: 15px;

      @media (max-width: 992px) {
        padding-left: 0;
        padding-bottom: 50px;

        order: 1;
      }
    }

    h2{
      position: relative;
      width: fit-content;
      &:before {
        content: url("../images/dots.png");
        position: absolute;
        bottom: -20px;
        right: -150px;
      }
    }
  }
}


/*Third-screen*/

.third-screen{
  background-image: url("../images/postsBg.png");
  background-size: cover;
  background-position: top 190px center;
  padding-bottom: 120px;

  .container{
    flex-direction: column;
    h2{
      position: relative;
      width: fit-content;
      &:before {
        content: url("../images/dots.png");
        position: absolute;
        bottom: -25px;
        left: -100px;
      }
    }

    .button {
      border-width: 2px;
      border-color: $text-orange;
      border-style: solid;
      border-radius: 6px;

      background: transparent;
      color: $text-orange;

      width: 300px;
      height: 70px;

      transition: all 0.5s;

      margin: 0 auto;

      &:hover{
        background: $text-orange;
        color: $text-white;
      }
    }

  }
}


/*Gallery screen*/

.gallery-screen{

  .container{
    flex-direction: column;
    padding-bottom: 40px;
    h2{
      position: relative;
      width: fit-content;
      &:before {
        content: url("../images/dots.png");
        position: absolute;
        bottom: -25px;
        left: -100px;
      }
    }

    .gallery{
      position: relative;
      width: 100%;
      height: 850px;

      margin-top: -140px;

      @media (max-width: 1800px) {
        transform: scale(0.8);
      }

      @media (max-width: 1366px) {
        display: none;
      }
      &>div{
        background-position: center;
        background-size: cover;
      }
      .gallery1{
        position: absolute;
        top: 140px;
        left: -167px;

        width: 630px;
        height: 424px;
      }
      .gallery2{
        position: absolute;
        top: 0px;
        left: 470px;

        width: 540px;
        height: 279px;
      }
      .gallery3{
        position: absolute;
        top: 0px;
        right: -236px;
        width: 356px;
        height: 279px;
      }
      .gallery4{
        position: absolute;
        top: 286px;
        left: 470px;

        width: 344px;
        height: 278px;

      }
      .gallery5{
        position: absolute;
        top: 571px;
        left: -209px;
        width: 477px;
        height: 278px;
      }
      .gallery6{
        position: absolute;
        top: 571px;
        left: 275px;
        width: 539px;
        height: 278px;
      }
      .gallery7{
        position: absolute;
        top: 286px;
        right: -177px;
        width: 495px;
        height: 563px;
      }
    }

    .gallery-slider{
      display: none;
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
      @media (max-width: 1366px) {
        display: block;
      }

      .gallery-img{
        width: 100%;
        height: 300px;

        margin: 0 15px;

        background-size: cover;
        background-position: center;
      }

      .slick-prev{
        top: unset;
        left: 50%;
        margin-left: -25px;
        bottom: -45px;
        &:before{
          content: url("../images/sliderNavPrev.png");
        }
      }
      .slick-next{
        top: unset;
        right: 50%;
        margin-right: -25px;
        bottom: -45px;
        &:before{
          content: url("../images/sliderNavNext.png");
        }
      }
    }
  }
}

.home{
  background: url("../images/bgFooter.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom center;

}

